<div class="container flexCol"></div>
<mat-card class="card">
    <div class="flexRow">
      <div class="flexCol" id="ContactList">
        <!-- code for displaying the contact list goes here -->
        <div id="Header" class="flex">
            <div id="HeaderInfo" class="flex">
              <div id="HeaderInfoIcon">
                <img src="../assets/bear-placeholder-image.jpg"/>
              </div>
              <div id="HeaderInfoDetail" class="flexCol">
                  <div id="HeaderDetailNumber1">
                    <h2>{{accountNumber}}</h2>
                  </div>
                  <div id="HeaderDetailNumber2">
                    <h3><span class="semi-bold">Contacts:</span> {{numContacts}}</h3>
                  </div>
              </div>
              <div class="NewMessageBtn">
                <button mat-icon-button aria-label="Example icon button with a open in new tab icon" (click)="handleNewMessageClick()">
                  <mat-icon>open_in_new</mat-icon>
                </button>
            </div>
          </div>
          </div>
          <div id="Search" class="flex">
            <div id="SearchContactBar">
              <mat-form-field class="example-form-field">
                <mat-label style="color: black;">Search Contact</mat-label>
                <input  matInput type="text" [(ngModel)]="searchValue" (input)="onSearchChange($event.target.value)">
                <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchValue()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <!--conversation lists -->
          <div id="Convos" class="flexCol color-contrast-fix">
            <div id="ConvosCB">  
              <mat-form-field appearance="fill">
                <mat-label style="color: black !important;">Sort By</mat-label>
                <mat-select [value]="selectedSortOption" (selectionChange)="onSortChange($event)">
                  <mat-option value="Recent">Most Recent</mat-option>
                  <mat-option value="Asc">A-Z</mat-option>
                  <mat-option value="Desc">Z-A</mat-option>
                </mat-select>
              </mat-form-field> 
              <mat-form-field appearance="fill">
                <mat-label style="color: black !important;">Filter By</mat-label>
                <mat-select (selectionChange)="onFilterSortChange($event)">
                  <mat-option value="Group">Group</mat-option>
                  <mat-option value="User">User</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div id="ConvoList" class="scrollable flexCol">
              <div *ngFor="let contact of myContactsTempArr">
                <div id={{contact.id}} class="ConvoListItem flex" (click)="handleClickContact(contact.id)">
                  <div class="ConvoItemIcon">
                    <img class="bg" src="../assets/userIcon.png"/>
                    <div *ngIf="contact.numUnreadMessages!=0">
                        0
                    </div>
                  </div>
                  <div id={{contact.id}} class="ConvoListItemDetail flexCol">
                      <div class="ConvoItemNameHeader">{{contact.firstName}}<div class="ConvoItemNameHeaderSpace"></div>{{contact.lastName}}</div>
                      <div class="ConvoItemNameFooter">
                          
                        {{contact.lastMessage}}
                      </div>
                      <div class="ConvoListItemDetailReceipt">Last replied by {{contact.lastRepliedByName}}</div>
                  </div>
                  <div class="ConvoItemTimeStamp">{{contact.lastRepliedByDT}}</div>   
                </div>
              </div>
            </div>
          </div>
      </div>
      <div *ngIf="showContactMessanger" class="flexCol" id="Messenger">
        <div id="MessangerHeader" class="flexCol">
          <!-- code for displaying the messenger header goes here -->
        </div>
        <div id="MessangerBody" class="flexCol">
            <div id="MessangerContent" class="scrollable flexCol"> 
                <div *ngIf="myCurContact!=null||myCurContact!=undefined">
                  <div *ngFor="let message of myCurContact.messages">
                    <div *ngIf="message.type__c=='Zipwhip'||message.type__c=='Sender'; else showRec">
                        <div class="ContentMessageSender flex">
                            <div id="ContentSpacer">
                            </div>
                            <div class="flexCol">
                                <div id={{message.id}} class="ContentMessage">
                                    <div *ngIf="message.isattachment__c">
                                        
                                        <img id={{message.id}} src="data:image/jpeg;base64,{{message.attbody__c}}"/>
                                    </div>
                                    {{message.messagebody__c}}
                                </div>
                                <div id="ContentMessageRecieptRight" >
                                  Sent {{message.timestamp__c}} - 
                                  <div *ngIf="message.sent_by__c;else showRightRec">
                                    {{message.sent_by__c}}
                                  </div>
                                  <ng-template #showRightRec>
                                    B Black
                                  </ng-template>
                                </div>
                              </div>
                        </div>
                      </div>
                      <!-- Messages -->
                      <ng-template #showRec>
                        <div class="ContentMessageReceiver flex">
                            <div class="flexCol">
                                <div id={{message.id}} class="ContentMessage">
                                  <div *ngIf="message.isattachment__c">
                                    
                                    <img id={{message.id}} src="data:image/jpeg;base64,{{message.attbody__c}}"/>
                                  </div>
                                  {{message.messagebody__c}}
                                </div>
                                <div id="ContentMessageRecieptLeft" >Sent {{message.timestamp__c}} - {{myCurContact.firstName}}<div class="ConvoItemNameHeaderSpace"></div>{{myCurContact.lastName}}</div>
                            </div>
                            <div id="ContentSpacer">
                            </div>
                        </div>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div id="MessangerFooter" class="flexCol">
                  <div id="MessangerFooterRow1">
                      <div id="MessangerInputTextArea">
                        <!--<lightning:textarea aura:id="mMessageArea" value="{!v.messangerMessageValue}" placeholder="Type a message" onchange="{!c.messageOnChange}"/>-->
                        <div class="example-form" id="messangerMessageTextArea" contenteditable>
        
                        </div>
                      </div>
                  </div>
                  <div id="MessangerFooterRow2" class="flex">
                      <div id="MessangerFooterRow2Sub" class="flex">
                          <div id="MessangerFooterTemplateIcon">
                            <button mat-icon-button aria-label="Options" [matMenuTriggerFor]="textOptions">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #textOptions="matMenu">
                              <button (click)="selectImage($event.target)" mat-menu-item>
                                Select Image
                                <input id="selectImageButton" accept="image/*" type="file" style="display:none" (change)="handleDialog($event)">
                              </button>
                            </mat-menu>
                          </div>
                          <div id="MessangerFooterRow2Spacer"></div>
                      </div>
                      <div id="MessangerSendButton">
                        <!--<lightning:button variant="brand" label="Send" title="Brand action" onclick="{! c.handleSendClick }" />-->
                        <button mat-raised-button color="blue" (click)="sendMessage()">Send</button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <!-- code for displaying the messenger body goes here -->
        </div>
      </div>
    </div>
  </mat-card>
</div>
  