<div class="flexRow">
    <div class="flexCol" id="ContactList">
      <mat-nav-list>
        <mat-list-item *ngFor="let contact of contacts" (click)="handleContactClick(contact)">
          {{ contact.name }}
        </mat-list-item>
      </mat-nav-list>
    </div>
    <div class="flexCol" id="MessagingArea" *ngIf="selectedContact">
      <div class="messagingHeader">
        {{ selectedContact.name }}
      </div>
      <div class="messagingBody">
        <div *ngFor="let message of selectedContact.messages">
          {{ message.text }}
        </div>
      </div>
      <div class="messagingFooter">
        <mat-form-field>
          <textarea matInput [(ngModel)]="newMessageText"></textarea>
        </mat-form-field>
        <button mat-raised-button (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
  